.footer {
  height: 50px;
  border: 2px solid $red;
  text-align: center;
  background: $meteor-black;
}

.copyright {
  color: $white;
  letter-spacing: 2px;
  font-weight: 200;
  padding: 13px 0;
}
