.navbar {
  background: $white;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 1px solid lighten($meteor-black, 50%);
}

.navbar-brand {
  color: black;
  &:hover {
    color: $red;
  }
}

.navbar-nav li a {
  color: $black;
  font-size: 12px;
  &:hover {
    color: $red;
    background: none;
  }
}

// Accounts UI
#login-dropdown-list {
  left: -40px;
  font-size: 12px;
}

#login-buttons a  {
  text-decoration: none;
}
