.navbar {
  background: $white;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navbar-brand {
  color: black;
  &:hover {
    color: $red;
  }
}

.navbar-nav li a {
  color: $black;
  &:hover {
    color: $red;
    background: none;
  }
}

#login-dropdown-list {
  left: -40px;
}
